<h4>Dear <%= Name %>, </h4>
<h4>Mã khôi phục tài khoản của bạn là : <%= Token %></h4>
<h4>Vui lòng không tiết lộ mã này cho bất kì ai. Nếu có bất kì câu hỏi nào cần giải đáp. Vui lòng liên hệ chúng tôi qua email: Thanhlam2396@gmail.com.</h4>
<h4>Cảm ơn đã sử dụng dịch vụ của chúng tôi.</h4>